.home {
  margin: 0 auto;
  background: url("../../assets/bg.svg");
  height: 100vh;
}

.home_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.home_title {
  color: white;
}

.tasks {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tasks a {
  text-decoration: none;
  color: black;
}

.task_item {
  position: relative;
  width: 400px;
  border-radius: 10px;
  text-align: left;
  padding: 1rem;
  background-color: rgb(237, 237, 237);
}

.task_item:hover {
  transform: translateY(-3px);
  filter: drop-shadow(0px 0px 5px rgb(232, 203, 58));
  transition: 0.3s;
}

.task_item h2 {
  text-align: center;
}

.task_item .task_img {
  position: relative;
  margin: auto;
  width: 360px;
  height: 100%;

  border-radius: 10px;
}

.task_text {
  margin-bottom: 1rem;
}

.task_text p {
  font-weight: 500;
  text-align: center;
}
