.git_page .git_page_container {
  margin: 3rem auto;
}

.git_page .git_page_container h1 {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.pagination button {
  padding: 0.8rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 4px;
  font-weight: 500;
  background-color: #171717;
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 1400px) {
  .git_page_container {
    max-width: 960px;
  }
}
@media only screen and (max-width: 1080px) {
  .git_page_container {
    max-width: 720px;
  }

  .git_page .git_page_container h1 {
    font-size: 1.35rem;
  }
}
