.nav_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav_logo a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.nav_logo a img {
  width: 60px;
  height: 40px;
}

.nav_item {
  display: flex;
  align-items: center;
}

.nav_links {
  display: flex;
  gap: 4rem;
  list-style: none;
}

.nav_links li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.nav_links li a:active {
  color: #ff00f7;
}
.circled {
  border-radius: 50px;
  padding: 1rem 1.5rem;
  margin-left: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  background-color: #271ac1;
  color: #fff;
}

@media only screen and (min-width: 1400px) {
  .nav_container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1080px) {
  .nav_container {
    justify-content: space-around;
  }

  .nav_logo a img {
    width: 50px;
    height: 30px;
  }
}

@media only screen and (max-width: 720px) {
  .nav_links {
    display: none;
  }
}
